path {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	animation: dash 1.8s ease-in-out forwards;
	opacity: 0.1;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

svg {
	width:400px; /* you can use % */
	height: auto;
	/* padding: 20px; */
	margin-top: 10px;
}

body {
	text-align: center;
}

.subtitle {
	font-size: 15px;
	font-weight: 100;
	font-family: sans-serif;
	font-style: normal;
	padding: 10px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.section {
	width: 100%;
	height: 650px;
	position: relative;
}

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

.logo-photo {
	/* width: 20px; */
	/* height: auto; */
	/* display: inline-block; */
	width: 400px;
	height: auto;
	padding-top: 100px;
}

.name {
	display: inline-block;
}


#title-section
{
	height: 100vh;
	padding-bottom: 50px;
}

.grid-item {
	width: 350px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	transition: all .2s ease-in-out;

	}

.grid-item--width2 { width: 350px; }

.grid {
	margin-top: 50px;
	margin-left: 50px;
	height: 100%;

}

.art {
	width: inherit;
	height: inherit;
}

.fa {
 width: 60px;
 display: block;
 text-align: center;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 color: black;
 font-size: 15px;
 -webkit-font-smoothing: antialiased;
 padding-top: 10px;

}
.fa-angle-double-down:before {content: "\f103";}
 
.bounce {
 position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}



.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

.art-title {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 50px;
	padding-top: 40px;
}

#img-grp-wrap {
	padding-top: 90px;
	padding-right: 90px;
	position: relative;
	width: 400px;
	height: auto;
	margin-right: 200px;
	float: right;
}

.img-wrap {
    position: relative;
    width: 400px;
    margin-right: 200px
    height: auto;
    float: right;
}


.next, .prev {
    position: absolute;
    cursor: pointer;
    top: 70px;
    width: 30px;
    height: auto;
    padding-top: 150px;
}

.next {
    right: -170px;
    float: right;
    /* margin-right: 130px; */
}

.prev {
    left: -70px;
}

#photo {
	margin-right: 200px;
	width: 600px;
	height: auto;
	position: absolute;

}

.logos {
	float: left;
	padding-top: 100px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-align: left;
	padding-right: 20px;

}

#first-photo {
	margin-right: 200px;
	width: 600px;
	height: auto;
	position: relative;
}

.section.about-section {
	height: 400px;
	width: 100%;
	padding-top: 900px;
}
.about {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 50px;
	padding-top: 40px;

}

#art-section {
width: 100%;
height: 1300px;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
	font-weight: 100;
  display: table;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.grid-item:hover span.text-content {
  opacity: 1;
}


.grid-item:hover { transform: scale(1.1); }

.me {
	margin-top: 30px;
	display: inline-block;
	width: 200px;
    border-radius: 50%;
   
}

.about-text {
	/* float: right; */
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	width: 500px;
	display: inline-block;
	margin-top: 30px;
}


#link {
    background: #F1DCD8;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
    color: black;
    font-family: 'Lato', sans-serif;
	font-weight: 100;

}

#link:hover {
	cursor: pointer;
}
/* Question 1 */


a:link {
	color: black;
	text-decoration: none;
}


.back-to-top {
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
    color: black;
    font-family: 'Lato', sans-serif;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	margin-left: -50px;
	font-size: 40px;
}